.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em 7em 1em;
}
.ratings h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(48, 48, 92);
}
.ratings p {
  font-size: 0.9rem;
  margin-top: 5px;
  color: rgb(48, 48, 92);
}
.company-badges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 5em 2em;
}
.company-badges img{
    width: 15%;
    height: auto;
}
.star-rating {
  display: flex;
  flex-direction: column;
}
.star-rating img {
  width: 100px;
  place-self: end;
}
