.navigationBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #e6f0ff;
}

.navigationBar .logo {
  font-size: 30px;
  font-weight: 800;
  cursor: default;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
  font-weight: 500;
}

.authLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-weight: 500;
}

button,
.authLinks li:nth-child(2) {
  padding: 0.5em 1em;
  background-color: rgb(48, 48, 92);
  color: #fff;
  border-radius: 10px;
}

.hero {
  background-color: #e6f0ff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 2em 1em;
}

.hero-text {
  margin-top: 2em;
  max-width: 90%;
  text-align: center;
}

.hero-text p {
  font-size: 0.9rem;
  color: rgb(48, 48, 92);
  font-weight: 500;
}

.hero-text h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  color: rgb(48, 48, 92);
}

.hero button {
  margin-top: 1.5em;
}

.image {
  width: 100%;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 868px) {
  .navLinks {
    background-color: green;
    display: none;
  }
}
@media (min-width: 768px) {
  .navigationBar {
    padding: 1em 5em;
  }

  .hero {
    flex-direction: row;
    padding: 2em 5em;
  }

  .hero-text {
    max-width: 50%;
    text-align: left;
    margin-top: 0;
  }

  .hero img {
    margin-right: -130px;
    max-width: 70%;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .navigationBar {
    padding: 1em 7em;
  }

  .hero {
    padding: 0 0 3em 7em;
  }

  .hero-text {
    max-width: 40%;
    margin-top: 5em;
  }

  .hero-text h1 {
    font-size: 3rem;
  }
}
